<header class="fixed-left">
  <div class="logo">
    <a href="#">
      <img src="assets/images/New-Logo.png" class="responsive-img" />
    </a>
  </div>
  <a href="#" class="lab-link">StackRoute Home</a>
  <div class="menu">
    <a href="#" class="menu-icon sidenav-trigger" data-target="slide-out">
      <span class="icon-wrapper waves-effect waves-light"
        ><img src="assets/images/menu_icon.svg" class="responsive-img"
      /></span>
      <span class="text waves-effect waves-light">Menu</span>
    </a>
    <div class="fullscreen-menu sidenav" id="slide-out">
      <div class="left">
        <a class="menu-icon sidenav-close">
          <span class="icon-wrapper waves-effect waves-light"
            ><img src="assets/images/close_button.svg" class="responsive-img"
          /></span>
          <span class="text waves-effect waves-light">Menu</span>
        </a>
        <div class="menu-list">
          <ul>
            <li>
              <a class="sidenav-close scroll-smooth" href="#StackRouteLabs"
                >StackRoute Labs</a
              >
            </li>
            <li>
              <a class="sidenav-close scroll-smooth" href="#VisionMission"
                >Vision & Mission</a
              >
            </li>
            <li>
              <a class="sidenav-close scroll-smooth" href="#OurWork"
                >Our Work</a
              >
            </li>
            <li>
              <a class="sidenav-close scroll-smooth" routerLink="/contact-us"
                >Join Us</a
              >
            </li>
            <li>
              <a class="sidenav-close scroll-smooth" routerLink="/contact-us"
                >Contact Us</a
              >
            </li>
          </ul>
          <ul class="link-bottom">
            <!-- <li><a href="#">Terms of Use</a></li> -->
            <li>
              <a
                href="https://privacy.niit.com/prospective_customer.html"
                target="_blank"
                >Privacy Statement</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="right">
        <p class="follow-us">
          Follow Us<span class="line-wrap"><span class="line"></span></span>
        </p>
        <div class="links">
          <a href="#"
            ><span
              ><img
                src="http://www.labs.stackroute.io/images/facebook-white.svg" /></span
          ></a>
          <a href="#"
            ><span
              ><img
                src="http://www.labs.stackroute.io/images/twitter-white.svg" /></span
          ></a>
          <a href="#"
            ><span
              ><img
                src="http://www.labs.stackroute.io/images/insta-white.svg" /></span
          ></a>
          <a href="#"
            ><span
              ><img
                src="http://www.labs.stackroute.io/images/youtube-white.svg" /></span
          ></a>
        </div>
      </div> -->
    </div>
  </div>
  <div class="scroll">
    <a
      href="#VisionMission"
      id="scrollbtn"
      class="waves-effect scroll-smooth waves-light"
    >
      <img src="assets/images/scroll_element.svg" class="responsive-img" />
      <span>Scroll</span>
    </a>
  </div>
</header>

<header class="mobile">
  <div class="logo">
    <a href="#">
      <img src="assets/images/New-Logo.png" class="responsive-img" />
    </a>
  </div>
  <a href="#" class="menu-icon sidenav-trigger" data-target="slide-out">
    <span class="icon-wrapper waves-effect waves-light"
      ><img src="assets/images/menu_icon.svg" class="responsive-img"
    /></span>
    <span class="text waves-effect waves-light">Menu</span>
  </a>
  <a routerLink="/contact-us" class="contact-btn"> Contact Us </a>
</header>
