<footer class="section" id="footer">
  <div class="container">
    <div class="row">
      <div class="col m11">
        <div class="row footer-top">
          <div class="col s6">
            <div class="contact-info">
              <p>Start a conversation</p>
              <a href="mailto:contact@stackroute.in">contact@stackroute.in</a>
              <a href="tel:+91 80 41275059">+91 80 41275059</a>
            </div>
          </div>
          <div class="col s6">
            <div class="social-links right-align">
              <a href="#"
                ><span
                  ><img
                    src="https://www.stackroute.in/themes/custom/stackroute_main/assets/images/linked_in.svg" /></span
              ></a>
              <a href="#"
                ><span><img src="assets/images/twitter-white.svg" /></span
              ></a>
              <a href="#"
                ><span><img src="assets/images/insta-white.svg" /></span
              ></a>
              <a href="#"
                ><span><img src="assets/images/youtube-white.svg" /></span
              ></a>
            </div>
            <div class="tNc right-align">
              <a href="#">Terms of Use</a>
              <span>|</span>
              <a
                href="https://privacy.niit.com/prospective_customer.html"
                target="_blank"
                >Privacy Statement</a
              >
            </div>
          </div>
        </div>
        <div class="row footer-bootom">
          <div class="col s12">
            <p class="copyright">
              Copyright © 2019 StackRoute. All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
