<section class="section contact-us thankyou-sec bg-dark">
    <div class="container">
        <div class="thank-you sec-head">
            <span class="icon"><img src="http://www.labs.stackroute.io/images/thank_you__icon.svg"/></span>
            <h3>Submission Received!</h3>
            <p>Thank you for the enquiry. Unless there’s a ‘force majeure’, you can expect our reply within 1 business day.</p>
            <div class="redircting_msgs">
                <div class="spinner">
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
                Redirecting to home in <span id="count">9</span> secs
            </div>

        </div>
    </div>
</section>
